*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html{
    height: 100%;
}
body {
    box-sizing: border-box;
    height: 100%;
}
#left-wrapper{
    position: fixed;
    left: 0;
    right: 0; 
    padding: 15rem 3rem 8rem 3rem;
    background-color: #100D08;
    width: 24%;
    height: 100%;
}
#right-wrapper{
    margin-left: 24rem;
    height: 100%;
}
#profile-right{
    background-color: #F9F0FF;
    position: relative;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
}
#about-right{
    padding: 5rem;
    flex-basis: 50%;
    /* font-family: 'Overpass', sans-serif; */
}
#picture-right{
    position: absolute;
    flex-basis: 60%;
    right: 0;
}
.label,.label-info{
    font-family: 'Noto Sans', sans-serif;
}
.label{
    color: #ffffff;
    text-transform: uppercase;
    font-size: .8rem;
}
.label-info{
    color: #C09181;
    margin-bottom: 2rem;
    font-size: .95rem;
}
.about-intro{
    color: #362B2E;
    font-size: 1.3rem;
    font-family: 'Noto Sans', sans-serif;
}
.about-name{
    font-family: 'Overpass', sans-serif;
    font-weight: 800;
    font-size: 4rem;
    color: #C09181;
}
.about-description{
    font-size: 1rem;
    font-family: 'Noto Sans', sans-serif;
    color: black;
    line-height: 2rem;
}