*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
a{
    text-decoration: none;
}
html{
    height: 100%;
}
body {
    box-sizing: border-box;
    height: 100%;
}
#left-wrapper{
    position: fixed;
    left: 0;
    top: 0;
    padding: 11rem 3rem 8rem 3rem;
    background-color: #100D08;
    /* width: 24%; */
    height: 100%;
}
#right-wrapper{
    margin-left: 315px;
    height: 100%;
}
#profile-right{
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
}
#about-right{
    background-color: #F9F0FF;
    height: 100%;
    padding: 10rem 5rem;
    flex-basis: 50%;
}

.label{
    font-family: 'Caveat', cursive;
    color: #ffffff;
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: bold;
}
.label-info{
    color: #C09181;
    margin-bottom: 2rem;
    font-size: .8rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.about-intro{
    color: #362B2E;
    font-size: 1.7rem;
    font-family: 'Caveat', cursive;
}
.about-name{
    font-family: 'Overpass', sans-serif;
    font-weight: 800;
    font-size: 4.5rem;
    color: #C09181;
    padding: 3rem 0 1.5rem 0;
}
.about-description{
    font-size: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    line-height: 2rem;
}
#profile-social{
    margin: 5.5rem 0;
}
#profile-social a{
    display: inline-block;
    font-size: .8rem;
    padding-right: 3rem;
    letter-spacing: .15rem;
    text-transform: uppercase;
    font-family: 'Overpass', sans-serif;
    color: #362B2E;
}
#picture-right{
    flex-basis: 50%;
    background-color: #F9F0FF;

    /* background-image: url('../images/LRM_EXPORT_21721874864411_20190830_085149507.jpeg');
    background-size: cover;
    width: 500px;
    height: 800px;
    background-repeat:no-repeat; */
}
/* section */

#about-section{
    display: flex;
    flex-flow: row wrap;
    background-color: #030201;
    color: #C09181;
    padding: 3rem;
    font-family: 'Overpass', sans-serif;


}
#services{
    flex-basis: 60%;
}
#bio{
    flex-basis: 40%;
    font-size: .9rem;
    line-height: 2rem;
    padding: 1.3rem;

    /* padding: 3rem 2rem 0; */

}
.bio-sub{
    padding-top: 1rem;
}
.icon-section{
    display: flex;
    flex-flow: row wrap;

}
.icon-card{
    width: 40%;
    background-color: #100D08;
    /* background-color: #F9F0FF; */

    margin: 0 2rem 1.5rem 0;
    height: 30vh;
    border-radius: 5px;
    padding: 1rem;


}
.icon-card .heading{
    margin: 2rem 0 1rem;
}
.heading,.bio-sub{
    color: #d48669;
    font-family: 'Caveat', cursive;
}
#bio-secret{
    font-size: .7rem;
}

/* portfolio */
#outer-portfolio{
    background-color: #030201;
    text-align: center;
    color: #d48669;
    font-family: 'Caveat', cursive;
}
#outer-portfolio h2{
    font-family: 'Overpass', sans-serif;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: bold;
    text-align: left;
    padding-left: 2rem;
}


#portfolio{
    padding: 4rem 4rem 0 4rem;
    display: flex;
    flex-flow: row wrap;
    background-color: #030201;
    text-align: center;
    color: #d48669;
    font-family: 'Caveat', cursive;

    

}

.portfolio-card1,.portfolio-card3,.portfolio-card5{
    margin:0 4rem 3rem;
}
#portfolio a{
    color: #d48669;
    
}
/* .skillAndContact{
    padding: 3rem;
} */
.skill{
    /* padding: 3rem; */
    flex-basis: 45%;
}
.skill-bar{
    width: 80%; /* Full width */
    background-color:#100D08;
  color: #F9F0FF;
  font-size: .6rem;



}
.skills{
    text-align: right; /* Right-align text */
  padding-top: 5px; /* Add top padding */
  padding-bottom: 5px; /* Add bottom padding */
  font-size: .7rem;

}
.html {
    width: 90%;
     background-color: #d48669;

} /* Green */
.css {
    width: 80%;
    background-color: #d48669;
  color: #F9F0FF;

} /* Blue */

.bootstrap {
    width: 80%; 
    background-color:#d48669;
}
.sass {
    width: 70%;
    background-color: #d48669;
}
.js {
    width: 40%; 
    background-color: #C09181;
} 
.skill p{
    color: #F9F0FF;
    padding-top: 1rem;
    font-size: .7rem;
    font-family: 'Caveat', cursive;

}
#pHtml{
    padding-top: 0;
}
.skillAndContact{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background-color: #030201;
    padding: 3rem;
}
.contact{
    flex-basis: 50%;
    /* background-color: #d48669; */
    /* width: 80%; */
}
form{
    background-color: #d48669;
width: 100%;
padding: 2rem 2rem;
height: 65vh;
border-radius: 5% 0 5% 0;



}
.contact-head{
    font-family: 'Overpass', sans-serif;
    color: #d48669;
    font-weight: bold;
    text-align: center;
}
label{
    color: #030201;
    font-family: 'Caveat', cursive;
    font-size: 1.3rem;
    padding-bottom: 2.7rem;

}
input,textarea{
    border: none;
    background-color: #d48669;
    display: block;
    width: 100%;
    border-bottom: 2px solid #F9F0FF;
    margin-bottom: 2rem;
    color: #F9F0FF;
    font-size: 1rem;
}

#submit{
    border: 2px solid #F9F0FF;
    padding: 1rem 0;
    cursor: pointer;
    color: #030201;
    font-family: 'Caveat', cursive;
    font-size: 1.3rem;


}
#submit:hover,#submit:active{
    background-color: #C09181;
    /* font-size: 1.2rem;
    padding: 1.3rem 0; */
}
.social-icons{
    width: 90%;
    margin: 0 auto;
    margin-top: 3rem;
}
.icon{
    display: inline-block;
    margin-right: .9rem;
    padding: .3rem .7rem;
    border: 1px solid #d48669;
    border-radius: 40%;
    cursor: pointer;
}
.fa:hover,.fa:active{
    color: #F9F0FF;
}
.icon:nth-last-of-type(1){
    margin-right: 0;
}
.fa{
    color: #C09181;
}
/* hidden items */
.portfolio-card1--b,
.portfolio-card1--c,
.portfolio-card1--d,
.portfolio-card1--e,
.portfolio-card2--b,
.portfolio-card2--c,
.portfolio-card2--d,
.portfolio-card2--e,
.portfolio-card3--b,
.portfolio-card3--c,
.portfolio-card3--d,
.portfolio-card3--e,
.portfolio-card4--b,
.portfolio-card4--c,
.portfolio-card4--d,
.portfolio-card4--e,
.portfolio-card5--b,
.portfolio-card5--c,
.portfolio-card5--d,
.portfolio-card5--e,
.portfolio-card6--b,
.portfolio-card6--c,
.portfolio-card6--d,
.portfolio-card6--e,
.image2,
.image3,
.image4,
.image5,
.image6,
.image7
.sidebar{
    display: none;
}


@media screen and (max-width:1490px) and (min-width:1335px){
    .image1{
        display: none;
    }
    .image2{
        display: unset;
    }
    #left-wrapper{
        padding:11rem 1.5rem 8rem 1.5rem ;
        background-color: red;
    }
    #right-wrapper{
        margin-left: 260px;
    }
.portfolio-card1--a,
.portfolio-card2--a,
.portfolio-card3--a,
.portfolio-card4--a,
.portfolio-card5--a,
.portfolio-card6--a{
    display: none;
}
.portfolio-card1--b,
.portfolio-card2--b,
.portfolio-card3--b,
.portfolio-card4--b,
.portfolio-card5--b,
.portfolio-card6--b{
    display: unset;
}
#about-right{
    padding: 10rem 5rem;
}

}
@media screen and (max-width:1450px) and (min-width:1430px){
    .image1,.image2{
        display: none;
    }
    .image3{
        display: unset;
    }
    #about-right{
        padding: 9rem 2rem;
    }
}
@media screen and (max-width:1429px) and (min-width:1335px){
    .image1,.image2,.image3{
        display: none;
    }
    .image4{
        display: unset;
    }
    #about-right{
        padding: 9rem 2rem;
    }
}

@media screen and (max-width:1334px) and (min-width:1235px){
    #about-right{
        padding: 9rem 2rem;
    }
    .image1,.image2,.image3,.image4{
        display: none;
    }
    .image5{
        display: unset;
    }
    #left-wrapper{
        padding:9.5rem 1.5rem 8rem 1.5rem ;
        /* background-color: yellow; */
    }
    #right-wrapper{
        margin-left: 260px;
    }
    
.portfolio-card1--a,
.portfolio-card2--a,
.portfolio-card3--a,
.portfolio-card4--a,
.portfolio-card5--a,
.portfolio-card6--a{
    display: none;
}
.portfolio-card1--c,
.portfolio-card2--c,
.portfolio-card3--c,
.portfolio-card4--c,
.portfolio-card5--c,
.portfolio-card6--c{
    display: unset;
}
.icon-card{
    height: 35vh;
}

}
@media screen and (max-width:1234px) and (min-width:1173px){
    #left-wrapper{
        display:none;
    }
#right-wrapper{
    margin-left: 0;
}
.icon-card{
    /* background-color: violet; */
}
.sidebar{
    display: unset;
    width:    100%;
    /* padding: 2rem; */
}
.sidebar-inner{
    display: flex;
    flex-flow: row wrap;
    /* justify-content: space-between; */
    /* width: 50%; */
    margin: 0 auto;
    padding: 2rem;
    background-color: #100D08;

}
#sidebar-card1{
    flex-basis: 45%;
    margin-right: 3rem;
    width:50%;
    text-align: right;
    /* background-color: #030201; */
    /* width: 50%; */
    /* margin */
    /* background-color: #C09181; */
}
#sidebar-card2{
    flex-basis: 45%;
    width:50%;
    /* text-align: right; */


    /* width: 50%;
    margin: 0 auto; */
}
}
@media screen and (max-width:1174px) and (min-width:1100px){
    #left-wrapper{
        display:none;
    }
#right-wrapper{
    margin-left: 0;
}
#about-right{
    padding:9rem 2rem;
}
.image1,.image2,.image3{
    display: none;
}
.image4{
    display: unset;
}
    .portfolio-card1--a,
.portfolio-card2--a,
.portfolio-card3--a,
.portfolio-card4--a,
.portfolio-card5--a,
.portfolio-card6--a{
    display: none;
}
.portfolio-card1--b,
.portfolio-card2--b,
.portfolio-card3--b,
.portfolio-card4--b,
.portfolio-card5--b,
.portfolio-card6--b{
    display: unset;
}
.icon-card{
    height: 35vh;
    /* padding-bottom: 1.3rem; */
    /* background-color: red; */
}
.sidebar{
    display: unset;
    width:    100%;
    /* padding: 2rem; */
}
.sidebar-inner{
    display: flex;
    flex-flow: row wrap;
    /* justify-content: space-between; */
    /* width: 50%; */
    margin: 0 auto;
    padding: 2rem;
    background-color: #100D08;

}
#sidebar-card1{
    flex-basis: 45%;
    margin-right: 3rem;
    width:50%;
    text-align: right;
    /* background-color: #030201; */
    /* width: 50%; */
    /* margin */
    /* background-color: #C09181; */
}
#sidebar-card2{
    flex-basis: 45%;
    width:50%;
    /* text-align: right; */


    /* width: 50%;
    margin: 0 auto; */
}
}
@media screen and (max-width:1099px) and (min-width:1000px){
    #left-wrapper{
        display:none;
    }
#right-wrapper{
    margin-left: 0;
}
#about-right{
    padding:9rem 2rem;
}
.image1,.image2,.image3{
    display: none;
}
.image4{
    display: unset;
}
.icon-card{
    height: 35vh;
    /* background-color:green; */
}
.portfolio-card1--a,
.portfolio-card2--a,
.portfolio-card3--a,
.portfolio-card4--a,
.portfolio-card5--a,
.portfolio-card6--a{
    display: none;
}
.portfolio-card1--c,
.portfolio-card2--c,
.portfolio-card3--c,
.portfolio-card4--c,
.portfolio-card5--c,
.portfolio-card6--c{
    display: unset;
}
.sidebar{
    display: unset;
    width:    100%;
    /* padding: 2rem; */
}
.sidebar-inner{
    display: flex;
    flex-flow: row wrap;
    /* justify-content: space-between; */
    /* width: 50%; */
    margin: 0 auto;
    padding: 2rem;
    background-color: #100D08;

}
#sidebar-card1{
    flex-basis: 45%;
    margin-right: 3rem;
    width:50%;
    text-align: right;
    /* background-color: #030201; */
    /* width: 50%; */
    /* margin */
    /* background-color: #C09181; */
}
#sidebar-card2{
    flex-basis: 45%;
    width:50%;
    /* text-align: right; */


    /* width: 50%;
    margin: 0 auto; */
}
}
@media screen and (max-width:999px) and (min-width:810px){
    #left-wrapper{
        display:none;
    }
#right-wrapper{
    margin-left: 0;
}
#about-right{
    padding:9rem 2rem;
}
.image1,.image2,.image3.image4,.image6{
    display: none;
}
.image5{
    display: unset;
}
    .portfolio-card1--a,
.portfolio-card2--a,
.portfolio-card3--a,
.portfolio-card4--a,
.portfolio-card5--a,
.portfolio-card6--a{
    display: none;
}
.portfolio-card1--d,
.portfolio-card2--d,
.portfolio-card3--d,
.portfolio-card4--d,
.portfolio-card5--d,
.portfolio-card6--d{
    display: unset;
}
#about-right{
    padding: 8rem 2rem;
}
.icon-card{
    background-color: tomato;
    width: 43%;
    margin: 0 1.5rem 1.3rem 0;
    height: 37vh;

}
#bio{
    font-size: .85rem;
    padding: 1rem;

}
#portfolio{
    padding: 3rem 3rem 0 3rem;
}
.portfolio-card1,.portfolio-card3,.portfolio-card5{
    margin:0 3rem 3rem;
}
.sidebar{
    display: unset;
    width:    100%;
    /* padding: 2rem; */
}
.sidebar-inner{
    display: flex;
    flex-flow: row wrap;
    /* justify-content: space-between; */
    /* width: 50%; */
    margin: 0 auto;
    padding: 2rem;
    background-color: #100D08;

}
#sidebar-card1{
    flex-basis: 45%;
    margin-right: 3rem;
    width:50%;
    text-align: right;
    /* background-color: #030201; */
    /* width: 50%; */
    /* margin */
    /* background-color: #C09181; */
}
#sidebar-card2{
    flex-basis: 45%;
    width:50%;
    /* text-align: right; */


    /* width: 50%;
    margin: 0 auto; */
}
}
@media screen and (max-width:924px) and (min-width:810px){
    .icon-card{
        background-color: antiquewhite;
    }
    .image1,.image2,.image3.image4,.image5{
        display: none;
    }
    .image6{
        display: unset;
    }
    /* #about-right{
        padding: 8rem 3rem;
    } */
    #picture-right{
        padding: 4rem 0;
    }
}
@media screen and (max-width:809px) and (min-width:670px){
    #left-wrapper{
        padding:9.5rem 1.5rem 8rem 1.5rem ;
        background-color: aqua;
    }
    #right-wrapper{
        margin-left: 260px;
    }
    .image1,.image2,.image3,.image4,.image5{
        display: none;
    }
    .image6{
        display: unset;
    }
    #picture-right{
        width: 100%;
        margin: 0 auto;
        padding: 0 0 2rem 5rem;
    }
    /* #picture-right{
        flex-basis: 100%;
        background-image: url('../images/LRM_EXPORT_21721874864411_20190830_085149507.jpeg');
        background-size: cover;
        width: 500px;
        height: 800px;
        background-repeat:no-repeat;
    } */
        #profile-right{
            flex-flow: column wrap;
        }
        #about-right{
            flex-basis: 100%;
            width: 100%;
    padding: 8rem 2rem;
    height: 50%;

        }
        /* #picture-right{
            height: 50vh;
        } */
    #about-section{
        flex-flow: column wrap;
        padding: 2rem ;
    
    
    }
    #bio{
        flex-basis: 100%;
        
    }
    #services{
        flex-basis: 100%;
        margin-bottom: 2rem;
    }
    
    .icon-card{
        flex-basis: 45%;
        width:100%;
        height: 35vh;
    margin: 0 0 1rem 0;

    }
    .left{
        margin-right: 2rem;
    }
    #portfolio{
        flex-flow: column wrap;
    }
    #portfolio div{
        margin-bottom: 2rem;
    }
    .portfolio-card1,.portfolio-card3,.portfolio-card5{
        margin:0;
    }
    .portfolio-card1--a,
    .portfolio-card2--a,
    .portfolio-card3--a,
    .portfolio-card4--a,
    .portfolio-card5--a,
    .portfolio-card6--a{
        display: none;
    }
    .portfolio-card1--d,
.portfolio-card2--d,
.portfolio-card3--d,
.portfolio-card4--d,
.portfolio-card5--d,
.portfolio-card6--d{
    display: unset;
}
.skillAndContact{
    flex-flow: column wrap;
}
form{
    margin: 2rem 0;
}
.contact .social-icons{
    width: 60%;
    display: unset;
    margin:0 auto;
}
}
@media screen and (max-width:799px) and (min-width:790px){
    #picture-right{
        background-color: yellow;
    }
    #picture-right{
        padding: 0 0 2rem 4.5rem;
    }
}
@media screen and (max-width:789px) and (min-width:780px){
    #picture-right{
        background-color: green;
    }
    #picture-right{
        padding: 0 0 2rem 4rem;
    }
}
@media screen and (max-width:779px) and (min-width:770px){
    #picture-right{
        background-color: red;
    }
    #picture-right{
        padding: 0 0 2rem 3.8rem;
    }
}
@media screen and (max-width:769px) and (min-width:760px){
    #picture-right{
        background-color: magenta;
    }
    #picture-right{
        padding: 0 0 2rem 3.5rem;
    }
}
@media screen and (max-width:759px) and (min-width:740px){
    #picture-right{
        background-color: magenta;
    }
    #picture-right{
        padding: 0 0 2rem 3.3rem;
    }
}
@media screen and (max-width:739px) and (min-width:720px){
   
    #picture-right{
        padding: 0 0 2rem 2.7rem;
    }
}
@media screen and (max-width:719px) and (min-width:670px){
    
    #picture-right{
        padding: 0 0 2rem 0rem;
    }
}

@media (max-width: 575.98px) {
    #left-wrapper{
        display:none;
    }
#right-wrapper{
    margin-left: 0;
}
#profile-right{
    flex-flow: column wrap;
}
#about-right{
    flex-basis: 100%;
    width: 100%;
padding: 8rem 2rem;
height: 50%;

}
.image1,.image2,.image3,.image4,.image6{
    display: none;
}
.image5{
    display: unset;
}
#picture-right{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    /* padding: 0 0 2rem 5rem; */
}
.sidebar{
    display: unset;
    width:    100%;
    /* padding: 2rem; */
}
.sidebar-inner{
    display: flex;
    flex-flow: row wrap;
    /* justify-content: space-between; */
    /* width: 50%; */
    margin: 0 auto;
    padding: 2rem;
    background-color: #100D08;
    text-align: center  ;

}
#sidebar-card1{
    flex-basis: 45%;
    /* margin-right: 0; */
    /* width:100%; */
    margin: 0 auto;
    /* text-align: center; */

    /* text-align: right; */
    /* background-color: #030201; */
    /* width: 50%; */
    /* margin */
    /* background-color: #C09181; */
}
#sidebar-card2{
    flex-basis: 45%;
    /* width:100%; */
    margin: 0 auto;

    /* text-align: center; */
    /* text-align: right; */


    /* width: 50%;
    margin: 0 auto; */
}
#profile-right{
    flex-flow: column wrap;
}
#about-right{
    flex-basis: 100%;
    width: 100%;
padding: 8rem 2rem;
height: 50%;

}
/* #picture-right{
    height: 50vh;
} */
#about-section{
flex-flow: column wrap;
padding: 2rem ;


}
#bio{
flex-basis: 100%;

}
#services{
flex-basis: 100%;
margin-bottom: 2rem;
}

.icon-card{
flex-basis: 45%;
width:100%;
height: 40vh;
margin: 0 0 1rem 0;

}
.left{
margin-right: 2rem;
}
#portfolio{
flex-flow: column wrap;
}
#portfolio div{
margin-bottom: 2rem;
}
.portfolio-card1,.portfolio-card3,.portfolio-card5{
margin:0;
}
.portfolio-card1--a,
.portfolio-card2--a,
.portfolio-card3--a,
.portfolio-card4--a,
.portfolio-card5--a,
.portfolio-card6--a{
display: none;
}
.portfolio-card1--e,
.portfolio-card2--e,
.portfolio-card3--e,
.portfolio-card4--e,
.portfolio-card5--e,
.portfolio-card6--e{
display: unset;
}
.skillAndContact{
flex-flow: column wrap;
}
form{
margin: 2rem 0;
}
.contact .social-icons{
width: 60%;
display: unset;
margin:0 auto;
}
}
@media (max-width:515px){
 .sidebar-inner{
     background-color: red;
 }
 .image1,.image2,.image3,.image,.image5,.image6{
    display: none;
}
.image7{
    display: unset;
}
}
@media (max-width:374px){
    .icon-card{
        flex-basis: 100%;
        width:100%;
        height: 40vh;
        margin: 0 0 1rem 0;
        
        }
        .left{
            margin-right: 0;
            }
            .about-name{
                
                font-weight: 800;
                font-size: 4rem;
                color: red;
                padding: 3rem 0 1.5rem 0;
            }
            /* #portfolio div{
                width:100%;
                margin: 0 auto;
                
                } */
}
